<div class="container flex justify-center">
  <div class="form-container">
    <h2 class="second__header">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "form__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form__input"%>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn__primary"  %>
      </div>
    <% end %>

    <div class="flex justify-between py-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>