<div class="container max-w-3xl mx-auto p-10 bg-white rounded-xl shadow mb-24">
  <h1 class="text-3xl font-bold text-gray-800 mb-4"><%= @event.title %></h1>
  <p class="text-gray-600 mb-4"><%= @event.description %></p>

<!-- Локація і час -->
  <div class="title">Location:
    <span class="text-gray-700 font-normal">
      <% if @event.location.present? %>
        <%= [@event.location.name, @event.location.address, @event.location.city].compact.join(", ") %>
        <% else %>
          -
      <% end %>
    </span>
  </div>
  <div class="title">Start:
    <span class="text-gray-700 font-normal"><%= @event.start_at&.strftime("%d.%m.%Y %H:%M") || "Not specified" %></span>
  </div>
  <div class="title">End:
    <span class="text-gray-700 font-normal"><%= @event.end_at&.strftime("%d.%m.%Y %H:%M") || "Not specified" %></span>
  </div>

<!-- Статус івенту: open або closed -->
  <% if @event.start_at.present? %>
    <div class="title">Status:
      <% if @event.start_at.to_date > Date.today %>
        <span class="badge bg-green-600">Open</span>
      <% else %>
        <span class="badge bg-red-500">Closed</span>
      <% end %>
    </div>
  <% end %>

<!-- Кнопки редагування, видалення, повернення та приєднання до івенту -->
  <div class="flex gap-4 pt-4 mb-4">
    <%= link_to "Edit", edit_event_path(@event), class: "btn btn__primary" %>
    <%= button_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?"  }, class: "btn btn__pink" %>
    <%= link_to "Back", events_path, class: "btn btn__secondary" %>

    <%= render 'shared/buttons' %>
  </div>

  <!-- song list -->
  <div class="mb-4">
    <h3 class="text-lg font-bold mb-2">Songs in this event:</h3>
    <ul>
      <% @event.songs.each do |song| %>
        <li class="flex items-center justify-between p-2 border">
          <div class="flex items-center gap-4">
          <%= inline_svg "icons/song.svg", class: "h-6 w-6" %>
          <%= link_to song.title, song_path(song), class: "text-blue-500 hover:text-blue-700" %> 
          </div>
          <%= button_to "Remove", event_event_song_path(@event, song), method: :delete, data: { confirm: "Are you sure?" }, class: "btn__pink " %>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <h4 class="text-lg font-bold mb-2">Add song to event:</h4>      
      <%= form_with url: event_event_songs_path(@event), method: :post, local: true do |f| %>
        <div class="flex items-center justify-between"> 
          <%= select_tag :song_id, options_from_collection_for_select(Song.all, :id, :title), class: "form__input w-1/2" %>
          <%= f.submit "Add", class: "btn btn__secondary mb-4" %>
        </div>
      <% end %>    
  </div>

  <!-- учасники -->
  <% if current_user&.admin? %>
    <h3 class="text-lg font-bold mb-2">Participants:</h3>
    <ul class="mb-4">
      <% @event.event_participants.includes(:user).each do |participant| %>
        <li class="mb-2 flex items-center gap-4">
          <%= image_tag("profile.png", alt: "Profile", class: "w-5 h-5") %>
          <%= participant.user.name %> 
          <span class="text-gray-400">
            (<%= participant.user.email %>)
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>

</div>