<div class="container flex justify-center">
  <div class="form-container">
    <h2 class="header">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mb-4">
        <%= f.label :email, class: "form__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__input" %>
      </div>

      <div class="field mb-4">
        <%= f.label :password, class: "form__label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form__input" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field checkbox__wrap">
          <%= f.check_box :remember_me, class: "form__checkbox" %>
          <%= f.label :remember_me, class: "form__label" %>
        </div>
      <% end %>

      <div class="actions flex justify-center">
        <%= f.submit "Log in", class: "btn btn__primary"  %>
      </div>
    <% end %>

    <div class="flex justify-between py-4">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>